h1 {
  color: turquoise
}

body {
  background-color: bisque;
  overflow: hidden;
}

.navbar {
  background-color: whitesmoke;
}

.navbar a {
  float: left;
  color: azure;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

.navbar a:hover {
  background-color: blanchedalmond;

}
