<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/assets/app.css"> -->
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav>
    <a href="">This is a nav bar</a>
    <!-- <a href="">{% block page_name%} {% endblock %}</a> -->
  </nav>
  {% block content %} {% endblock %}

  <footer>
    This is a footer
  </footer>
</body>

</html>
