{% extends 'base.html' %}
{% block title %}Lucky{% endblock %}
{% block content %}

<body>
  <h1>This is the hello pages</h1>
  <p>Thanks for browsing :)</p>
  <p>Lucky number: {{luck_num}}</p>
  {% if luck_num == 3 %}
  <h2>That's a good number!</h2>
  <img
    src="https://images.unsplash.com/photo-1586724220920-ab7eafeaf663?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
    alt="">
  {% else %}
  <h2>What a interesting choice!</h2>
  {% endif %}
</body>

{% endblock %}
